.components-popover__fallback-container {

  .CalendarDayDetail {

    cursor: pointer;

    .components-popover__content {

      .Detail {

        width: 180px;

        .Title {

          padding: var(--s) var(--s2);
          background-color: var(--color-borders);
          color: var(--color-light);
        }

        .Events {

          padding: var(--s) var(--s2) var(--s2);

          .Event {

            .Time {


            }

            .Destination {


            }
          }
        }
      }
    }
  }

  .PopOverDateFrom,
  .PopOverDateTo {
    
    .components-popover__content {

      padding: var(--s2);
    }
  }
}